{% extends "base.html" %}
{% block content %}
  <div class="col-9 mt-4" id="qrcode">

  </div>


    <script src="../static/js/qrcode.js"></script>
    <script>
//        qrcode(document.getElementById('qrcode'),{
//           data:'http://192.168.1.200/#/register/?agent_id=xiaoxiao'
//        });

//        new QRCode(document.getElementById('qrcode'), 'http://192.168.1.200/#/register/?agent_id=xiaoxiao');

        // 设置参数方式
        var url = "http://13.229.237.142/#/regist?agent_id={{username}}"
        var qrcode = new QRCode('qrcode', {
          text: url,
          width: 256,
          height: 256,
          colorDark : '#000000',
          colorLight : '#ffffff',
          correctLevel : QRCode.CorrectLevel.H
        });

        // 使用 API
//        qrcode.clear();
//        qrcode.makeCode('new content');
    </script>

{% endblock %}
